body{
    margin: 0;
    padding: 0;
    background-color: rgb(204, 127, 127)
}
.nav-el{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    font-weight: 700;
    font-size:30px;
    color: orange;
}

h1{
    display: flex;
    justify-content: space-evenly;
    font-size:45px;
    color:olivedrab;
}

p{
    display: flex;
    justify-content: space-evenly;
    font-size:25px;
    color:blue;
}

.img{
    display: flex;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 40%;
}