body{
    margin: 0;
    padding: 0;
    background-color: rgb(204, 127, 127)
}
.nav-el{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    font-weight: 700;
    font-size:30px;
    color: orange;
}

h1{

    color:olivedrab;
}

#container{
    text-align:  center;
    color: blue;
    border: 5px solid black;;
}

h2{
    color: brown ;
    font-size: 25px;
}


p{
    display: flex;
    justify-content: space-evenly;
    font-size:25px;
    color:blue;
}

.img{
    display: flex;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 40%;
}


.btn.correct{
    --hue: var(--hue-correct);
    color: brown;
}
.btn.wrong{
    --hue: var(--hue-wrong);
}